In [1]:
pwd

'/projects/metis2/anubha/HW2/Data_Cartography/notebooks'

In [67]:
import json
!pip install datasets
from datasets import load_dataset

Requirement already satisfied: datasets in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (2.6.1)
Requirement already satisfied: numpy>=1.17 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from datasets) (1.23.3)
Requirement already satisfied: pyarrow>=6.0.0 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from datasets) (8.0.0)
Requirement already satisfied: dill<0.3.6 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from datasets) (0.3.5.1)
Requirement already satisfied: pandas in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from datasets) (1.4.4)
Requirement already satisfied: requests>=2.19.0 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from datasets) (2.28.1)
Requirement already satisfied: tqdm>=4.62.1 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from datasets) (4.64.1)
Requirement already satisfied: xxhash in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from datasets) (0.0.0)
Requirement already satisfied: multiprocess in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from datasets) (0.70.12.2)
Requirement already satisfied: fsspec[http]>=2021.11.1 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from datasets) (2022.10.0)
Requirement already satisfied: aiohttp in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from datasets) (3.8.1)
Requirement already satisfied: huggingface-hub<1.0.0,>=0.2.0 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages/huggingface_hub-0.10.1-py3.8.egg (from datasets) (0.10.1)
Requirement already satisfied: packaging in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from datasets) (21.3)
Requirement already satisfied: responses<0.19 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from datasets) (0.18.0)
Requirement already satisfied: pyyaml>=5.1 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from datasets) (6.0)
Requirement already satisfied: attrs>=17.3.0 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from aiohttp->datasets) (22.1.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from aiohttp->datasets) (4.0.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from aiohttp->datasets) (6.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from aiohttp->datasets) (1.7.2)
Requirement already satisfied: aiosignal>=1.1.2 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from aiohttp->datasets) (1.2.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from aiohttp->datasets) (2.0.4)
Requirement already satisfied: frozenlist>=1.1.1 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from aiohttp->datasets) (1.2.0)
Requirement already satisfied: filelock in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from huggingface-hub<1.0.0,>=0.2.0->datasets) (3.6.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from huggingface-hub<1.0.0,>=0.2.0->datasets) (4.3.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from packaging->datasets) (3.0.9)
Requirement already satisfied: idna<4,>=2.5 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from requests>=2.19.0->datasets) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from requests>=2.19.0->datasets) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from requests>=2.19.0->datasets) (1.26.12)
Requirement already satisfied: python-dateutil>=2.8.1 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from pandas->datasets) (2022.1)
Requirement already satisfied: six>=1.5 in /projects/metis2/anubha/miniconda3/envs/envname/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->datasets) (1.16.0)

In [68]:
dataset_name = 'yelp_polarity'
raw_datasets = load_dataset(dataset_name)

Found cached dataset yelp_polarity (/home/anubhak/.cache/huggingface/datasets/yelp_polarity/plain_text/1.0.0/14f90415c754f47cf9087eadac25823a395fef4400c7903c5897f55cfaaa6f61)

  0%|          | 0/2 [00:00<?, ?it/s]

In [15]:
cd ..

/projects/metis2/anubha/HW2/Data_Cartography

In [25]:

import datasets
from datasets import load_dataset, load_metric
# For custom datasets
data_files = {}
data_files["train"] = "datasets/spam/train_spam.csv"
data_files["test"] = "datasets/spam/test_spam.csv"
extension = "csv"
# print(extension)
raw_datasets = load_dataset(extension, data_files=data_files)
# raw_datasets['train'] = raw_datasets['train'].applymap(str)

print(raw_datasets)

Using custom data configuration default-aa75e1c938c9c7c5
Found cached dataset csv (/home/anubhak/.cache/huggingface/datasets/csv/default-aa75e1c938c9c7c5/0.0.0/6b34fb8fcf56f7c8ba51dc895bfa2bfbe43546f190a60fcf74bb5e8afdcc2317)

  0%|          | 0/2 [00:00<?, ?it/s]

DatasetDict({
    train: Dataset({
        features: ['text', 'label'],
        num_rows: 4459
    })
    test: Dataset({
        features: ['text', 'label'],
        num_rows: 1115
    })
})

In [26]:
dataset_name = "spam"
import pandas as pd
import os
# remove samples with label -1
raw_datasets['train'] = raw_datasets['train'].filter(lambda x:x['label']!=-1)
raw_datasets['test'] = raw_datasets['test'].filter(lambda x:x['label']!=-1)

df_train = pd.DataFrame()
if dataset_name!= "sst2":
    ids = list(range(len(raw_datasets['train'])))
    raw_datasets['train'] = raw_datasets['train'].add_column('idx',ids)

    df_train["idx"] = raw_datasets["train"]["idx"]
    df_train["text"] = raw_datasets["train"]["text"]
    df_train["label"] = raw_datasets["train"]["label"]
    
    df_test = pd.DataFrame()
    df_test["text"] = raw_datasets["test"]["text"]
    df_test["label"] = raw_datasets["test"]["label"]

    print(df_train.head())
    print(os.getcwd())
    df_train.to_csv(os.getcwd()+f"/{dataset_name}_train.csv", header = True, index = False)
    df_test.to_csv(os.getcwd()+f"/{dataset_name}_test.csv", header = True, index = False)

else:
    df_train = pd.DataFrame()
    df_train["idx"] = raw_datasets["train"]["idx"]
    df_train["text"] = raw_datasets["train"]["sentence"]
    df_train["label"] = raw_datasets["train"]["label"]
    
    df_test = pd.DataFrame()
    df_test["text"] = raw_datasets["validation"]["sentence"]
    df_test["label"] = raw_datasets["validation"]["label"]
#     raw_datasets.save_to_disk(f"datasets/{dataset_name}/with_idx")

    df_train.to_csv(os.getcwd()+f"/datasets/{dataset_name}/train.csv", header = True, index = False)
    df_test.to_csv(os.getcwd()+f"/datasets/{dataset_name}/test.csv", header = True, index = False)

Loading cached processed dataset at /home/anubhak/.cache/huggingface/datasets/csv/default-aa75e1c938c9c7c5/0.0.0/6b34fb8fcf56f7c8ba51dc895bfa2bfbe43546f190a60fcf74bb5e8afdcc2317/cache-cbec591d70773a54.arrow
Loading cached processed dataset at /home/anubhak/.cache/huggingface/datasets/csv/default-aa75e1c938c9c7c5/0.0.0/6b34fb8fcf56f7c8ba51dc895bfa2bfbe43546f190a60fcf74bb5e8afdcc2317/cache-6a21fc15bf5ee325.arrow
Loading cached processed dataset at /home/anubhak/.cache/huggingface/datasets/csv/default-aa75e1c938c9c7c5/0.0.0/6b34fb8fcf56f7c8ba51dc895bfa2bfbe43546f190a60fcf74bb5e8afdcc2317/cache-7a8755b181f80420.arrow

   idx                                               text  label
0    0  FREE2DAY sexy St George's Day pic of Jordan!Tx...      0
1    1           Armand says get your ass over to epsilon      1
2    2            Lol now I'm after that hot air balloon!      1
3    3  You know, wot people wear. T shirts, jumpers, ...      1
4    4  Good morning, my Love ... I go to sleep now an...      1
/projects/metis2/anubha/HW2/Data_Cartography

In [31]:
os.getcwd()

'/projects/metis2/anubha/HW2/Data_Cartography'

In [32]:
import json
f = open(f'./dy_log/{dataset_name}/roberta_base/three_regions_data_indices.json')
data = json.load(f)
new_dict = {}
category = []
for line in data['hard']:
    new_dict[line] = 'hard'
for line in data['easy']:
    new_dict[line] = 'easy'
for line in data['ambiguous']:
    new_dict[line] = 'ambiguous'

for line in df_train['idx']:
    if line not in new_dict.keys():
        category.append('none')
    else:
        category.append(new_dict[line])

print (category[:50])
df_train['category'] = category

df_train.to_csv(os.getcwd()+f"/datasets/{dataset_name}/{dataset_name}_categorized.csv", header = True, index = False)

['ambiguous', 'ambiguous', 'ambiguous', 'none', 'easy', 'ambiguous', 'easy', 'none', 'ambiguous', 'none', 'ambiguous', 'easy', 'easy', 'easy', 'none', 'ambiguous', 'easy', 'ambiguous', 'ambiguous', 'easy', 'none', 'ambiguous', 'easy', 'ambiguous', 'none', 'easy', 'ambiguous', 'none', 'ambiguous', 'easy', 'easy', 'ambiguous', 'easy', 'hard', 'ambiguous', 'easy', 'none', 'easy', 'none', 'hard', 'ambiguous', 'ambiguous', 'easy', 'none', 'ambiguous', 'ambiguous', 'easy', 'none', 'ambiguous', 'ambiguous']

In [33]:
df_train.shape

(4459, 4)

In [34]:
df_e = df_train.loc[df_train['category'] == "easy"]
df_easy = pd.DataFrame()
df_easy['text'] = df_e['text']
df_easy['label'] = df_e['label']
df_easy.to_csv(os.getcwd()+f"/datasets/{dataset_name}/{dataset_name}_easy.csv", header = True, index = False)

In [35]:
df_h = df_train.loc[df_train['category'] == "hard"]
df_hard = pd.DataFrame()
df_hard['text'] = df_h['text']
df_hard['label'] = df_h['label']
df_hard.to_csv(os.getcwd()+f"/datasets/{dataset_name}/{dataset_name}_hard.csv", header = True, index = False)

In [36]:
df_a = df_train.loc[df_train['category'] == "ambiguous"]
df_ambi = pd.DataFrame()
df_ambi['text'] = df_a['text']
df_ambi['label'] = df_a['label']
df_ambi.to_csv(os.getcwd()+f"/datasets/{dataset_name}/{dataset_name}_ambi.csv", header = True, index = False)

In [37]:
df_t1= df_train.loc[df_train['category'] == "easy"]
df_t2 = df_train.loc[df_train['category'] == "ambiguous"]

df_easy= pd.DataFrame()
df_easy['text'] = df_t1['text']
df_easy['label'] = df_t1['label']
df_hard = pd.DataFrame()
df_hard['text'] = df_t2['text']
df_hard['label'] = df_t2['label']

df_easy_hard = pd.DataFrame()
df_easy_hard = pd.concat([df_easy, df_hard])

df_easy_hard.sample(frac=1)
df_easy_hard.to_csv(os.getcwd()+f"/datasets/{dataset_name}/{dataset_name}_easy_ambi.csv", header = True, index = False)

In [38]:
df_easy_hard

                                                   text  label
4     Good morning, my Love ... I go to sleep now an...      1
6     Sorry . I will be able to get to you. See you ...      1
11    It has issues right now. Ill fix for her by to...      1
12       Wah lucky man... Then can save money... Hee...      1
13    somewhere out there beneath the pale moon ligh...      1
...                                                 ...    ...
4440        I will vote for wherever my heart guides me      1
4445                     Do you want bold 2 or bb torch      1
4449  Your board is working fine. The issue of overh...      1
4453  LORD OF THE RINGS:RETURN OF THE KING in store ...      0
4455  ree entry in 2 a weekly comp for a chance to w...      0

[2942 rows x 2 columns]

In [65]:
df_train["category"].value_counts()

ambiguous    22225
easy         22225
none         21091
hard          1808
Name: category, dtype: int64

In [22]:
df_t1

,idx,text,label,category
2,2,that loves its characters and communicates som...,1,easy
15,15,the greatest musicians,1,easy
17,17,with his usual intelligence and subtlety,1,easy
19,19,swimming is above all about a young woman 's f...,1,easy
22,22,a smile on your face,1,easy
...,...,...,...,...
67328,67328,is nothing short of a great one .,1,easy
67333,67333,comedy ensemble,1,easy
67335,67335,brilliant movie,1,easy
67338,67338,"polished ,",1,easy
67344,67344,a delightful comedy,1,easy

In [69]:
pd.read_csv(os.getcwd()+f"/datasets/{dataset_name}/{dataset_name}_easy_hard.csv")

                                                     text  label
0       I'm writing this review to give you a heads up...      0
1       Wing sauce is like water. Pretty much a lot of...      0
2       I drove by yesterday to get a sneak peak.  It ...      1
3       After waiting for almost 30 minutes to trade i...      0
4       I got 'new' tires from them and within two wee...      0
...                                                   ...    ...
184795  When Corey sent the email about tickets being ...      1
184796  Wow, really?  Bought one item from them, a ham...      0
184797  Long line, inefficient staff. Maybe my expecta...      0
184798  Professional \nFriendly\nOn time AND affordabl...      1
184799  Phone calls always go to voicemail and message...      0

[184800 rows x 2 columns]