In [1]:
pwd

'/projects/ogma3/atharvak/Data_Cartography'

In [2]:
import json
# !pip install datasets
from datasets import load_dataset

In [21]:
dataset_name = 'imdb'
raw_datasets = load_dataset(dataset_name)

Downloading builder script:   0%|          | 0.00/4.31k [00:00<?, ?B/s]

Downloading metadata:   0%|          | 0.00/2.17k [00:00<?, ?B/s]

Downloading readme:   0%|          | 0.00/7.59k [00:00<?, ?B/s]

Downloading and preparing dataset imdb/plain_text to /home/atharvak/.cache/huggingface/datasets/imdb/plain_text/1.0.0/2fdd8b9bcadd6e7055e742a706876ba43f19faee861df134affd7a3f60fc38a1...

Downloading data:   0%|          | 0.00/84.1M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/25000 [00:00<?, ? examples/s]

Generating test split:   0%|          | 0/25000 [00:00<?, ? examples/s]

Generating unsupervised split:   0%|          | 0/50000 [00:00<?, ? examples/s]

Dataset imdb downloaded and prepared to /home/atharvak/.cache/huggingface/datasets/imdb/plain_text/1.0.0/2fdd8b9bcadd6e7055e742a706876ba43f19faee861df134affd7a3f60fc38a1. Subsequent calls will reuse this data.

  0%|          | 0/3 [00:00<?, ?it/s]

In [22]:
dataset_name

'imdb'

In [23]:
import pandas as pd
import os
# remove samples with label -1
raw_datasets['train'] = raw_datasets['train'].filter(lambda x:x['label']!=-1)
raw_datasets['test'] = raw_datasets['test'].filter(lambda x:x['label']!=-1)

df_train = pd.DataFrame()
if dataset_name!= "sst2":
    ids = list(range(len(raw_datasets['train'])))
    raw_datasets['train'] = raw_datasets['train'].add_column('idx',ids)

    df_train["idx"] = raw_datasets["train"]["idx"]
    df_train["text"] = raw_datasets["train"]["text"]
    df_train["label"] = raw_datasets["train"]["label"]
    
    df_test = pd.DataFrame()
    df_test["text"] = raw_datasets["test"]["text"]
    df_test["label"] = raw_datasets["test"]["label"]

#     print(df_train.head())
#     print(os.getcwd())
    df_train.to_csv(os.getcwd()+f"/datasets/{dataset_name}/train.csv", header = True, index = False)
    df_test.to_csv(os.getcwd()+f"/datasets/{dataset_name}/test.csv", header = True, index = False)

else:
    df_train = pd.DataFrame()
    df_train["idx"] = raw_datasets["train"]["idx"]
    df_train["text"] = raw_datasets["train"]["sentence"]
    df_train["label"] = raw_datasets["train"]["label"]
    
    df_test = pd.DataFrame()
    df_test["text"] = raw_datasets["validation"]["sentence"]
    df_test["label"] = raw_datasets["validation"]["label"]
#     raw_datasets.save_to_disk(f"datasets/{dataset_name}/with_idx")

    df_train.to_csv(os.getcwd()+f"/datasets/{dataset_name}/train.csv", header = True, index = False)
    df_test.to_csv(os.getcwd()+f"/datasets/{dataset_name}/test.csv", header = True, index = False)

  0%|          | 0/25 [00:00<?, ?ba/s]

  0%|          | 0/25 [00:00<?, ?ba/s]

Flattening the indices:   0%|          | 0/25 [00:00<?, ?ba/s]

Exception ignored in: <function tqdm.__del__ at 0x7fd25f407ac0>
Traceback (most recent call last):
  File "/projects/ogma3/atharvak/miniconda3/envs/11711_env/lib/python3.10/site-packages/tqdm/std.py", line 1162, in __del__
    self.close()
  File "/projects/ogma3/atharvak/miniconda3/envs/11711_env/lib/python3.10/site-packages/tqdm/notebook.py", line 293, in close
    self.disp(close=True, check_delay=False)
  File "/projects/ogma3/atharvak/miniconda3/envs/11711_env/lib/python3.10/site-packages/tqdm/notebook.py", line 192, in display
    self.container.close()
  File "/projects/ogma3/atharvak/miniconda3/envs/11711_env/lib/python3.10/site-packages/ipywidgets/widgets/widget.py", line 500, in close
    self.comm.close()
  File "/projects/ogma3/atharvak/miniconda3/envs/11711_env/lib/python3.10/site-packages/comm/base_comm.py", line 109, in close
    get_comm_manager().unregister_comm(self)
NameError: name 'get_comm_manager' is not defined
Exception ignored in: <function tqdm.__del__ at 0x7fd25f407ac0>
Traceback (most recent call last):
  File "/projects/ogma3/atharvak/miniconda3/envs/11711_env/lib/python3.10/site-packages/tqdm/std.py", line 1162, in __del__
    self.close()
  File "/projects/ogma3/atharvak/miniconda3/envs/11711_env/lib/python3.10/site-packages/tqdm/notebook.py", line 293, in close
    self.disp(close=True, check_delay=False)
  File "/projects/ogma3/atharvak/miniconda3/envs/11711_env/lib/python3.10/site-packages/tqdm/notebook.py", line 192, in display
    self.container.close()
  File "/projects/ogma3/atharvak/miniconda3/envs/11711_env/lib/python3.10/site-packages/ipywidgets/widgets/widget.py", line 500, in close
    self.comm.close()
  File "/projects/ogma3/atharvak/miniconda3/envs/11711_env/lib/python3.10/site-packages/comm/base_comm.py", line 109, in close
    get_comm_manager().unregister_comm(self)
NameError: name 'get_comm_manager' is not defined
Exception ignored in: <function tqdm.__del__ at 0x7fd25f407ac0>
Traceback (most recent call last):
  File "/projects/ogma3/atharvak/miniconda3/envs/11711_env/lib/python3.10/site-packages/tqdm/std.py", line 1162, in __del__
    self.close()
  File "/projects/ogma3/atharvak/miniconda3/envs/11711_env/lib/python3.10/site-packages/tqdm/notebook.py", line 293, in close
    self.disp(close=True, check_delay=False)
  File "/projects/ogma3/atharvak/miniconda3/envs/11711_env/lib/python3.10/site-packages/tqdm/notebook.py", line 192, in display
    self.container.close()
  File "/projects/ogma3/atharvak/miniconda3/envs/11711_env/lib/python3.10/site-packages/ipywidgets/widgets/widget.py", line 500, in close
    self.comm.close()
  File "/projects/ogma3/atharvak/miniconda3/envs/11711_env/lib/python3.10/site-packages/comm/base_comm.py", line 109, in close
    get_comm_manager().unregister_comm(self)
NameError: name 'get_comm_manager' is not defined

In [24]:
import json
f = open(f'./dy_log/{dataset_name}/roberta-base/three_regions_data_indices.json')
data = json.load(f)
new_dict = {}
category = []
for line in data['hard']:
    new_dict[line] = 'hard'
for line in data['easy']:
    new_dict[line] = 'easy'
for line in data['ambiguous']:
    new_dict[line] = 'ambiguous'

for line in df_train['idx']:
    if line not in new_dict.keys():
        category.append('none')
    else:
        category.append(new_dict[line])

print (category[:50])
df_train['category'] = category

df_train.to_csv(os.getcwd()+f"/datasets/{dataset_name}/{dataset_name}_categorized.csv", header = True, index = False)

['ambiguous', 'easy', 'easy', 'easy', 'none', 'easy', 'none', 'none', 'easy', 'none', 'none', 'easy', 'none', 'ambiguous', 'ambiguous', 'easy', 'easy', 'easy', 'easy', 'easy', 'ambiguous', 'none', 'easy', 'ambiguous', 'easy', 'none', 'easy', 'none', 'easy', 'easy', 'easy', 'none', 'ambiguous', 'easy', 'easy', 'none', 'easy', 'easy', 'easy', 'ambiguous', 'easy', 'none', 'none', 'none', 'none', 'easy', 'easy', 'easy', 'ambiguous', 'none']

In [26]:
df_e = df_train.loc[df_train['category'] == "easy"]
df_easy = pd.DataFrame()
df_easy['text'] = df_e['text']
df_easy['label'] = df_e['label']
df_easy.to_csv(os.getcwd()+f"/datasets/{dataset_name}/{dataset_name}_easy.csv", header = True, index = False)

In [27]:
df_h = df_train.loc[df_train['category'] == "hard"]
df_hard = pd.DataFrame()
df_hard['text'] = df_h['text']
df_hard['label'] = df_h['label']
df_hard.to_csv(os.getcwd()+f"/datasets/{dataset_name}/{dataset_name}_hard.csv", header = True, index = False)

In [28]:
df_a = df_train.loc[df_train['category'] == "ambiguous"]
df_ambi = pd.DataFrame()
df_ambi['text'] = df_a['text']
df_ambi['label'] = df_a['label']
df_ambi.to_csv(os.getcwd()+f"/datasets/{dataset_name}/{dataset_name}_ambi.csv", header = True, index = False)

In [29]:
df_t1= df_train.loc[df_train['category'] == "ambiguous"]
df_t2 = df_t1.loc[df_t1['category'] == "ambiguous"]
df_easy_hard = pd.DataFrame()
df_easy_hard['text'] = df_t2['text']
df_easy_hard['label'] = df_t2['label']
df_easy_hard.to_csv(os.getcwd()+f"/datasets/{dataset_name}/{dataset_name}_easy_hard.csv", header = True, index = False)

In [20]:
df_train["category"].value_counts()

ambiguous    22225
easy         22225
none         21091
hard          1808
Name: category, dtype: int64

In [50]:
df_easy_hard.shape

(22225, 2)

In [69]:
pd.read_csv(os.getcwd()+f"/datasets/{dataset_name}/{dataset_name}_easy_hard.csv")

                                                     text  label
0       I'm writing this review to give you a heads up...      0
1       Wing sauce is like water. Pretty much a lot of...      0
2       I drove by yesterday to get a sneak peak.  It ...      1
3       After waiting for almost 30 minutes to trade i...      0
4       I got 'new' tires from them and within two wee...      0
...                                                   ...    ...
184795  When Corey sent the email about tickets being ...      1
184796  Wow, really?  Bought one item from them, a ham...      0
184797  Long line, inefficient staff. Maybe my expecta...      0
184798  Professional \nFriendly\nOn time AND affordabl...      1
184799  Phone calls always go to voicemail and message...      0

[184800 rows x 2 columns]

# Checking data

In [1]:
import pandas as pd
import json

In [2]:
with open(f'./dy_log/imdb/roberta-base/three_regions_data_indices.json') as f:
    data = json.load(f)
f.close()

In [3]:
len(data['hard']), len(data['easy']), len(data['ambiguous'])

(8250, 8250, 8250)

In [5]:
hard = set(data['hard'])
easy = set(data['easy'])
ambiguous = set(data['ambiguous'])
len(hard), len(easy), len(ambiguous)

(8250, 8250, 8250)

In [2]:
train_df = pd.read_csv('datasets/imdb/train.csv')
train_df

         idx                                               text  label
0          0  I rented I AM CURIOUS-YELLOW from my video sto...      0
1          1  "I Am Curious: Yellow" is a risible and preten...      0
2          2  If only to avoid making this type of film in t...      0
3          3  This film was probably inspired by Godard's Ma...      0
4          4  Oh, brother...after hearing about this ridicul...      0
...      ...                                                ...    ...
24995  24995  A hit at the time but now better categorised a...      1
24996  24996  I love this movie like no other. Another time ...      1
24997  24997  This film and it's sequel Barry Mckenzie holds...      1
24998  24998  'The Adventures Of Barry McKenzie' started lif...      1
24999  24999  The story centers around Barry McKenzie who mu...      1

[25000 rows x 3 columns]

In [4]:
train_easy_df = pd.read_csv('datasets/imdb/imdb_easy.csv')
train_easy_df

                                                   text  label
0     "I Am Curious: Yellow" is a risible and preten...      0
1     If only to avoid making this type of film in t...      0
2     This film was probably inspired by Godard's Ma...      0
3     I would put this at the top of my list of film...      0
4     Who are these "They"- the actors? the filmmake...      0
...                                                 ...    ...
8245  Noni Hazlehurst, Colin Friels, Alice Garner, C...      1
8246  For a first film in a proposed series it achie...      1
8247  I enjoyed this movie. Unlike like some of the ...      1
8248  Like I said its a hidden surprise. It well wri...      1
8249  Very smart, sometimes shocking, I just love it...      1

[8250 rows x 2 columns]

In [5]:
train_hard_df = pd.read_csv('datasets/imdb/imdb_hard.csv')
train_hard_df

                                                  text  label
0    An actress making a movie in Africa is kidnapp...      0
1    This film seemed way too long even at only 75 ...      0
2    Sometime in 1998, Saban had acquired the right...      0
3    There are times when finishing a film one wish...      0
4    A Cinderella story made for adults who live in...      0
..                                                 ...    ...
453  I love ghost stories in general, but I PARTICU...      1
454  Many critics have felt offended that R.W. Fass...      1
455  I first saw this film when it was transmitted ...      1
456  Master director Ching Siu Tung's perhaps most ...      1
457  Recap: It's business as usual at Louche's casi...      1

[458 rows x 2 columns]

In [6]:
train_ambi_df = pd.read_csv('datasets/imdb/imdb_ambi.csv')
train_ambi_df

                                                   text  label
0     I rented I AM CURIOUS-YELLOW from my video sto...      0
1     Its not the cast. A finer group of actors, you...      0
2     Today I found "They All Laughed" on VHS on sal...      0
3     If the crew behind "Zombie Chronicles" ever re...      0
4     En route to a small town that lays way off the...      0
...                                                 ...    ...
8245  David Duchovny plays the lead role in this fil...      1
8246  This film has a lot of raw potential. The scri...      1
8247  David Duchovney creates a role that he was to ...      1
8248  A hit at the time but now better categorised a...      1
8249  'The Adventures Of Barry McKenzie' started lif...      1

[8250 rows x 2 columns]

In [3]:
train_categorized_df = pd.read_csv('datasets/imdb/imdb_categorized.csv')
train_categorized_df

,idx,text,label,category
0,0,I rented I AM CURIOUS-YELLOW from my video sto...,0,ambiguous
1,1,"""I Am Curious: Yellow"" is a risible and preten...",0,easy
2,2,If only to avoid making this type of film in t...,0,easy
3,3,This film was probably inspired by Godard's Ma...,0,easy
4,4,"Oh, brother...after hearing about this ridicul...",0,none
...,...,...,...,...
24995,24995,A hit at the time but now better categorised a...,1,ambiguous
24996,24996,I love this movie like no other. Another time ...,1,none
24997,24997,This film and it's sequel Barry Mckenzie holds...,1,none
24998,24998,'The Adventures Of Barry McKenzie' started lif...,1,ambiguous
24999,24999,The story centers around Barry McKenzie who mu...,1,none

In [4]:
train_categorized_df.category.value_counts()

ambiguous    8250
easy         8250
none         8042
hard          458
Name: category, dtype: int64

In [8]:
train_categorized_df.iloc[17857]

idx                                                     17857
text        Well, some people would say that this particul...
label                                                       1
category                                            ambiguous
Name: 17857, dtype: object